.exigo-1 {
    max-width: 66%;
    border-radius: 0;
    float: right;
    margin-top: -217px;
    margin-right: -117px;
}

.laptop-dashboard {
    max-width: 42%;
    border-radius: 0;
    float: right;
    margin-top: -390px;
    margin-right: 175px;
}

* {
    color: #008d8d !important;
}

.exigo-title {
    font-size: 8em;
    margin-left: -5px;
    text-transform: uppercase;
    font-family: TruenoFont !important;
}

.text-align {
    margin-top: 250px;
    margin-left: -40px;
}