.exigo-1 {
    max-width: 63%;
    border-radius: 0;
    float: right;
    margin-top: -30px;
    margin-right: -40px;
}

.laptop-dashboard {
    max-width: 48%;
    border-radius: 0;
    float: right;
    margin-top: -415px;
    margin-right: 134px;
}

* {
    color: #008d8d !important;
}

.exigo-title {
    font-size: 8em;
    margin-left: -5px;
    text-transform: uppercase;
    font-family: TruenoFont !important;
}

.text-align {
    margin-top: 250px;
    margin-left: -40px;
}