.exigo-title {
    font-size: 5em;
    margin-left: -5px;
    text-transform: uppercase;
    font-family: TruenoFont !important;
    text-align: center;
}

* {
    color: #008d8d !important;
}

.text-align {
    margin-left: -40px;
}

.product-image {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product-tile {
    text-align: center;
}

.card-body {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 510px;
    
}


.exigo-btn {
    background-image: #008d8d !important;
    background-color: #008d8d !important;
}