<h1 style="margin-bottom:40px" class="sections-page-title">Contact us</h1>
<div class="card card-plain">
    <!--<div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Your Name </label>
                        <input class="form-control" type="text" value="Mike" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Email address </label>
                        <input class="form-control"
                                placeholder="mike@email.com"
                                type="email" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Phone </label>
                        <input class="form-control"
                                type="text"
                                value="001-12321345" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Company </label>
                        <input class="form-control"
                                type="text"
                                value="CreativeTim" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label> Message </label>
                        <input class="form-control"
                                placeholder="Hello there!"
                                type="text" />
                    </div>
                </div>
            </div>
            <button style="color:white !important"
                    class="exigo-btn btn btn-danger btn-round float-right"
                    placement="right"
                    type="submit">
                Send text
            </button>
        </form>
    </div>-->
</div>
