@media only screen and (min-width: 769px) {
    .home-page-title {
        margin-top: 17vw;
    }
    
    .exigo-weight-lifting-photo {
        max-width: 66vw;
        right: -12vw;
        top: -14vw;
        position: absolute;
    }

    .laptop-dashboard-photo {
        max-width: 45vw;
        right: 9vw;
        top: 14vw;
        position: absolute;
    }

    .tw {
        margin-top: -30px;
        font-weight: 600;
    }

    .exigo-laptop-workout-photo {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .home-page-title {
        margin-top: 36vh;
        font-size: 13vw;
        margin-bottom: 4px;
    }

    .exigo-weight-lifting-photo {
        max-width: 84vw;
        right: -14vw;
        top: -21vw;
        position: absolute;
    }

    .exigo-laptop-workout-photo {
        max-width: 84vw;
        left: -26vw;
        top: 29vw;
        position: absolute;
    }

    .laptop-dashboard-photo {
        display: none;
    }

    h1, h3 {
        text-align: center;
    }

    .tw {
        margin-top: -30px;
        font-weight: 600;
    }
}