<div class="page-header">
    <div class="container">
        <div class="big-screens">
            <img *ngIf="!orthosis_product" class="product-image product-left-image" src="../assets/img/product-1-white.png">
            <img *ngIf="!orthosis_product" class="product-image product-right-image" src="../assets/img/product-2.png">

            <img *ngIf="orthosis_product" class="product-image product-left-image" src="../assets/img/product-1.png" />
            <img *ngIf="orthosis_product" class="product-image product-right-image" src="../assets/img/product-2-white.png">


            <h3 class="product-left-name">Meet your digital physical therapist</h3>
            <h3 class="product-right-name">Meet your motorized orhtosis</h3>

            <div *ngIf="!orthosis_product" class="div-btn product-btn product-left-btn-green">
                Scroll to see the features
            </div>
            <button *ngIf="!orthosis_product" class="exigo-btn btn product-btn btn-danger btn-round product-btn product-right-btn-white"
                    (click)="change_product()">
                Click for details
            </button>

            <button *ngIf="orthosis_product" class="exigo-btn btn product-btn btn-danger btn-round product-btn product-left-btn-white"
                    (click)="change_product()">
                Click for details
            </button>
            <div *ngIf="orthosis_product" class="div-btn product-btn product-right-btn-green">
                Scroll to see the features
            </div>
        </div>

        <div class="product-text">
            <h1 class="sections-page-title">Products</h1>
            <h3 class="product-tile">
                We develop software and hardware products to enhance the physical
                rehabilitation process. We strongly believe that physical rehabilitation
                shouldn't be a burden, just a process that helps us be healthy and
                get back to our normal activities.
            </h3>
        </div>

        <div class="small-screens">
            <img *ngIf="!orthosis_product" class="product-image product-left-image" src="../assets/img/product-1-white.png">
            <img *ngIf="!orthosis_product" class="product-image product-right-image" src="../assets/img/product-2.png">

            <img *ngIf="orthosis_product" class="product-image product-left-image" src="../assets/img/product-1.png" />
            <img *ngIf="orthosis_product" class="product-image product-right-image" src="../assets/img/product-2-white.png">


            <h3 class="product-left-name">Meet your digital physical therapist</h3>
            <h3 class="product-right-name">Meet your motorized orhtosis</h3>

            <div *ngIf="!orthosis_product" class="div-btn product-btn product-left-btn-green">
                Scroll to see the features
            </div>
            <button *ngIf="!orthosis_product" class="exigo-btn btn product-btn btn-danger btn-round product-btn product-right-btn-white"
                    (click)="change_product()">
                Click for details
            </button>

            <button *ngIf="orthosis_product" class="exigo-btn btn product-btn btn-danger btn-round product-btn product-left-btn-white"
                    (click)="change_product()">
                Click for details
            </button>
            <div *ngIf="orthosis_product" class="div-btn product-btn product-right-btn-green">
                Scroll to see the features
            </div>
        </div>
    </div>
</div>