<div class="container">
    

    <!--<div class="row">
        <div class="col-6">
            <img *ngIf="!product_details" class="product-image"
                 src="../assets/img/digital-pta-image-white.png">
            <img *ngIf="product_details" class="product-image" [src]="digital_pta_image_src"
                 (mouseover)="digital_pta_image_src = '../assets/img/digital-pta-image-white.png'"
                 (mouseout)="digital_pta_image_src = '../assets/img/digital-pta-image-green.png'"
                 (click)="change_product()">
            <h3 class="product-tile">Our digital physical therapist assistant</h3>
        </div>
        <div class="col-6">
            <img *ngIf="product_details" class="product-image"
                 src="../assets/img/orthosis-image-white.png">
            <img *ngIf="!product_details" class="product-image" [src]="orthosis_image_src"
                 (mouseover)="orthosis_image_src = '../assets/img/orthosis-image-white.png'"
                 (mouseout)="orthosis_image_src = '../assets/img/orthosis-image-green.png'"
                 (click)="change_product()">
            <h3 class="product-tile">Our portable motoried orhtosis</h3>
        </div>
    </div>-->
</div>

<div class="parallax">
    <br />
    <br />
    <br />
    <h1 style="margin-bottom:85px; color: white !important" class="sections-page-title">Products</h1>


</div>