@media only screen and (min-width: 769px) {
    .product-tile, .sections-page-title {
        text-align: center;
    }

    .product-left-image {
        left: -11vw;
    }

    .product-right-image {
        right: -11vw;
    }

    .small-screen {
        display: none;
    }

    .image-container {
        text-align: center;
    }
    
    .quote {
        margin-top: -4vh;
        width: 10vh;
        height: 10vh;
        background: #008d8d;
        border-radius: 100%;
        line-height: 8.5vh;
        text-align: center;
        margin-left: 14vw;
    
        .fav-icon {
            color: white !important;
            padding-top: 1vh;
            font-size: 2vw;
            display: block;
        }
    }
    
    .card {
        background: white !important;
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 4vw;
        text-align: center !important;
        margin-bottom: 0px 0px 30px 0px !important;
    }

    .product-image {
        max-width: 45vh !important;
        margin-bottom: 5vh;
    }

    .big-screen {
        display: none;
    }

    .product-left-image {
        left: -16vh;
    }

    .product-right-image {
        right: -16vh;
    }

    .small-screen {
        text-align: center;
    }
}

