@media only screen and (min-width: 769px) {

    .product-description {
        text-align: center;
    }

    .product-image {
        max-width: 48vw !important;
        position: absolute;
        z-index: -9999;
    }

    .page-header {
        height: 35vw !important;
        min-height: 35vw;
        max-height: 35vw;
    }

    .sections-page-title {
        text-align: center;
    }

    .product-text {
        display: block;
        margin: auto;
        width: 40vw;
    }

    .product-left-image {
        left: -18vw;
    }

    .product-right-image {
        right: -18vw;
    }

    .product-tile {
        text-align: center;
    }

    .small-screen {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .container {
        padding: 5vw;
        margin-top: 3vw;
    }

    h3 {
        font-size: 4vw;
        text-align: center !important;
        margin-bottom: 0px 0px 30px 0px !important;
    }

    .product-image {
        max-width: 41vh !important;
        position: absolute;
    }

    .big-screen {
        display: none;
    }

    .product-left-image {
        left: -16vh;
    }

    .product-right-image {
        right: -16vh;
    }

    .page-header {
        height: 350vh !important;
        min-height: 350vh !important;
        max-height: 350vh !important;
    }
}

