@media only screen and (min-width: 769px) {
    .pta-description {
        font-size: 2.4vh;
    }

    .product-image {
        margin-top: 1vw;
        max-width: 54vw !important;
        position: absolute;
        z-index: -9999;
    }

    .page-header {
        height: 86vw !important;
        min-height: 86vw;
        max-height: 86vw;
    }

    .sections-page-title {
        text-align: center;
    }

    .product-left-image {
        left: -23vw;
    }

    .product-right-image {
        right: -23vw;
    }

    .product-tile {
        text-align: center;
    }

    .small-screen {
        display: none;
    }

    .feature-card {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .quote {
        margin-top: -4vh;
        width: 10vh;
        height: 10vh;
        background: #008d8d;
        border-radius: 100%;
        line-height: 8.5vh;
        text-align: center;
        margin-left: 14vw;
    
        .fav-icon {
            color: white !important;
            padding-top: 1vh;
            font-size: 2vw;
            display: block;
        }
    }
    
    .card {
        background: white !important;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 5vw;
        margin-top: 3vw;
    }

    .left-product {
        left: -35vw;
        position: absolute;
    }

    .rigth-product {
        right: -35vw;
        position: absolute;
    }

    h3 {
        font-size: 4vw;
        text-align: center !important;
        margin-bottom: 0px 0px 30px 0px !important;
    }

    .product-image {
        max-width: 59vh !important;
        position: absolute;
    }

    .big-screen {
        display: none;
    }

    .product-left-image {
        left: -16vh;
    }

    .product-right-image {
        right: -16vh;
    }

    .page-header {
        height: 410vh !important;
        min-height: 410vh !important;
        max-height: 410vh !important;
    }
}

