<!--<img class="fly-fade-in exigo-laptop-workout-photo" src="../assets/img/aaaaaaaa.png">-->
<div class="container">
    <h1 class="sections-page-title">What is our</h1>
    <h1 class="sections-page-title" style="margin-top: -29px;">mission?</h1>
    <h3 class="vision-description">
        We develop software and hardware products to enhance the physical rehabilitation process.
        We strongly believe that physical rehabilitation shouldn't be a burden, just a process
        that helps us be healthy and get back to our normal activities.
    </h3>
</div>