.sections-page-title {
    text-align: right;
}

.vision-description {
    text-align: right;
}

.exigo-laptop-workout-photo {
    max-width: 66%;
    border-radius: 0;
    float: left;
    margin-left: -314px;
    margin-top: -170px;
}