.sections-page-title {
    text-align: right;
}

.vision-description {
    text-align: right;
}

.exigo-laptop-workout-photo {
    max-width: 66%;
    border-radius: 0;
    float: left;
    margin-left: -314px;
    margin-top: -170px;
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 5vw;
        text-align: center !important;
        margin-bottom: 0px 0px 30px 0px !important;
    }
}