@media only screen and (min-width: 769px) {
    .container {
        height: 43vw;
    }

    .sections-page-title {
        margin-top: 9vw;
        text-align: right;
    }

    .vision-description {
        text-align: right;
    }

    .exigo-laptop-workout-photo {
        max-width: 66vw;
        right: 54vw;
        top: -10vw;
        position: absolute;
        z-index: -9999;
    }

    .vision-description {
        float: right;
        width: 43vw;
    }

    .title-first-line {
        margin-bottom: 0vw !important;
    }

    .title-second-line {
        margin-top: 0vw !important;
    }
}

@media only screen and (max-width: 768px) {

    .container {
        height: 77vw;
        padding: 5vw;
    }

    h3 {
        font-size: 4vw;
        text-align: center !important;
        margin-bottom: 0px 0px 30px 0px !important;
    }

    .exigo-laptop-workout-photo {
        /* max-width: 66vw;
        right: 57vw;
        top: -1vw;
        z-index: -9999;*/
        display: none;
    }

    .title-first-line {
        margin-bottom: 0vw !important;
    }

    .title-second-line {
        margin-top: 0vw !important;
    }
}

