.exigo-1 {
    max-width: 55%;
    border-radius: 0;
    float: left;
    margin-left: -40px;
}

* {
    color: #008d8d !important;
}

.exigo-title {
    font-size: 8em;
    text-transform: uppercase;
    font-family: TruenoFont !important;
}

.text-align {
    margin-top: 250px;
    margin-left: -40px;
}
