.exigo-1 {
    max-width: 66%;
    border-radius: 0;
    float: left;
    margin-left: -314px;
}

* {
    color: #008d8d !important;
}

.exigo-title {
    font-size: 8em;
    font-family: TruenoFont !important;
}

.text-align {
    margin-top: 250px;
    margin-left: -40px;
}

.align-left {
    text-align: right;
}

.details-card {
    padding: 12px 16px;
    border: 1px dashed #dad5e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    float: right;
    margin-right: -15px;
    margin-left: 40px;
}

.about-post {
    padding: 12px 16px;
    border: 1px dashed #dad5e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.title {
    color: #008d8d !important;
    font-family: TruenoFont !important;
    margin-bottom: 70px;
}