.exigo-title {
    font-size: 5em;
    margin-left: -5px;
    text-transform: uppercase;
    font-family: TruenoFont !important;
    text-align: right;
}

* {
    color: #008d8d !important;
}

.vision-description {
    text-align: right;
}

.text-align {
    margin-top: 170px;
    margin-left: -40px;
}

.exigo-1 {
    max-width: 66%;
    border-radius: 0;
    float: left;
    margin-left: -314px;
    margin-top: -170px;
}

/*.fly-fade-in {
    animation: flyFfadeIn ease 10s;
    -webkit-animation: flyFfadeIn ease 10s;
    -moz-animation: flyFfadeIn ease 10s;
    -o-animation: flyFfadeIn ease 10s;
    -ms-animation: flyFfadeIn ease 10s;

    @keyframes flyFfadeIn {
        0% {
            top: 0px;
            opacity:0;
        }

        100% {
            top: 500px;
            opacity: 1;
        }
    }
}*/