.team-image {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
}

.exigo-title {
    font-size: 5em;
    margin-left: -5px;
    text-transform: uppercase;
    font-family: TruenoFont !important;
}

* {
    color: #008d8d !important;
}

.text-align {
    margin-left: -40px;
}
