.team-image {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
}

.title {
    color: #008d8d !important;
    font-family: TruenoFont !important;
}