<div style="height: 60vh;">
    <div class="container">
        <div class="text-align brand">
            <h1 class="exigo-title">Team</h1>
            <div class="row">
                <div class="col-4">
                    <img class="team-image" src="../assets/img/team-ana.png">
                </div>
                <div class="col-4">
                    <img class="team-image" src="../assets/img/team-irina.png">
                </div>
                <div class="col-4">
                    <img class="team-image" src="../assets/img/team-ioana.png">
                </div>
            </div>
        </div>
    </div>
</div>