<div class="telekineto">
    <div id="info" style='display:none'>
    </div>
    <div id="loading" style='display:flex'>
        <div class="spinner-text">
            Loading PoseNet model...
        </div>
        <div class="sk-spinner sk-spinner-pulse"></div>
    </div>
    <div class="score">
        <h1 id="gameScore">Score: 0</h1>
    </div>
    <div id='main' class="canvas-container">
        <video id="video" playsinline style="display: none;">
        </video>
        <canvas id="output"></canvas>
        <canvas class="animation" id="animation"></canvas>
        <canvas class="animation" id="canvas"></canvas>

    </div>
    <!-- <div class="footer">
        <div class="footer-text">

            <p>
                PoseNet runs with either a <strong>single-pose</strong> or <strong>multi-pose</strong> detection
                algorithm. The single person pose detector is faster and more accurate but requires only one subject
                present in the image.
                <br>
                <br> The <strong>output stride</strong> and <strong>input resolution</strong> have the largest effects
                on accuracy/speed. A <i>higher</i> output stride results in lower accuracy but higher speed. A
                <i>higher</i> image scale factor results in higher accuracy but lower speed.
            </p>
        </div>
    </div> -->
</div>