<!-- <div class="container" id="features"> -->
    <!--<h1 class="sections-page-title">Features</h1>-->
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card product-info-card border-card">
                <div class="card-body">
                    <p *ngIf="productName == 'digitalPT'" class="pta-description">
                        Platform that motivates you to do the recovery exercises using interactive games, monitors your entire process using AI, and keeps you connected with your physical therapist with the mobile app.
                    </p>
                    <p *ngIf="productName == 'motorizedOrthosis'" class="orthosis-description">
                        Smart, portable, orthosis which allows patients to continue their exercises at home, especially useful during a pandemic.
                    </p>
                </div>

            </div>
        </div>
        <div *ngFor="let feature of features_list" class="col-md-6 col-sm-12 col-xs-12">
            <div class="card border-card">
                <div class="quote">
                    <fa-icon class="fav-icon" [icon]="feature.icon"></fa-icon>
                </div>
                <div class="card-body">
                    <h2 class="card-title">{{feature.title}}</h2>
                    <p class="card-title">{{feature.content}}</p>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->