<div class="container" id="features">
    <h1 class="sections-page-title">Features</h1>
    <div *ngIf="!isOrthosis" class="row">
        <div *ngFor="let feature of features_list_dpt" class="col-md-4 col-sm-12 col-xs-12">
            <div class="card border-card">
                <div class="card-body">
                    <h2 class="card-title">{{feature.title}}</h2>
                    <p class="card-title">{{feature.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isOrthosis" class="row">
        <div *ngFor="let feature of features_list_orthosis" class="col-md-4 col-sm-12 col-xs-12">
            <div class="card border-card">
                <div class="card-body">
                    <h2 class="card-title">{{feature.title}}</h2>
                    <p class="card-title">{{feature.content}}</p>
                </div>
            </div>
        </div>
    </div>
