/* You can add global styles to this file, and also import other style files */
body {
    color: white !important;
    background-color: white !important;
}

@font-face {
    font-family: TruenoFont;
    src: url(assets/fonts/truenoltit.otf);
}

h1, h2, h3, h4, h5, h6 {
    color: #008d8d !important;
}

.text-align {
    margin-top: 250px;
    margin-left: -40px;
}

.home-page-title {
    font-size: 8vw;
    margin-left: -5px;
    text-transform: uppercase;
    font-family: TruenoFont !important;
}

.sections-page-title {
    font-size: 5vw;
    margin-left: -5px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-transform: uppercase;
    font-family: TruenoFont !important;
}

@media only screen and (max-width: 768px) {
    .sections-page-title {
        text-align: center !important;
        font-size: 10vw !important;
    }

    .card {
        width: 80% !important;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }

    .sections-page-title {
        margin: 50px 0px 35px 0px !important;
    }
}
