.team-image {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
}

.team-card {
    text-align: center;
    padding-top: 0px;
}

.team-name {
    font-weight: 600;
    padding: 0px !important;
}

.team-role {
    padding: 0.3vw;
    color: #b7b7b7 !important;
}

.team-mail {
    padding: 0px !important;
}

h2, h3, h4, h5, h6, p {
    margin: 0px !important;
}

@media only screen and (max-width: 768px) {
    .sections-page-title {
        text-align: center;
        font-size: 10vw;
    }

    .team-image {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 0px;
    }

    .team-card {
        padding: 10px 0px !important;
    }

    h3 {
        font-size: 5vw;
        margin-bottom: 0px !important;
    }

    h4 {
        font-size: 5vw;
        margin-bottom: 0px !important;
    }

    p {
        font-size: 5vw;
        margin-bottom: 0px !important;
    }
}